extends _layout

block vars
  - var pageTitle = "Home page";
  - var pageClass = "homepage";
  - var pageActive = "homepage";
block content
  //
    .b-lazy.webp-img(data-webp="./img/motivated-bg.webp"
      data-webp-mobile="./img/motivated-bg-mobile.webp"
      data-img="./img/motivated-bg.png"
      data-img-mobile="./img/motivated-bg-mobile.png")

    picture
      source(srcset="./img/logo.webp" type="image/webp")
      source(srcset="./img/logo.png" type="image/png")
      img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")

  div.main-wrap
    .comment-module
      .cmodule
        .cmodule__inner
          .cmodule__body.custom-row
            .cmodule__side.custom-col
              .cmodule__side-inner
                p(style="background-color: red;") qwe
            .cmodule__content.custom-col
              .cmodule__content-inner
                p(style="background-color: blue;") qwe



