extends _layout

block vars
  - var pageTitle = "Home page";
  - var pageClass = "homepage";
  - var pageActive = "homepage";
block content
  //
    .b-lazy.webp-img(data-webp="./img/motivated-bg.webp"
      data-webp-mobile="./img/motivated-bg-mobile.webp"
      data-img="./img/motivated-bg.png"
      data-img-mobile="./img/motivated-bg-mobile.png")

    picture
      source(srcset="./img/logo.webp" type="image/webp")
      source(srcset="./img/logo.png" type="image/png")
      img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")

  div.main-wrap(style="padding: 30px 0;")
    .comment-module
      .cmodule
        .cmodule__inner
          .cmodule__body.custom-row
            .cmodule__side.custom-col
              .cmodule__side-inner(style="background-image: url('./img/cmodule-sidebar-bg.png');")
                form.cmodule__side-form
                  .cmodule__side-title Голосовать за нас
                  .cmodule__side-corona
                    .cmodule__side-corona-i.cmodule__side-corona-i--gold
                      input(type="radio" name="corona" id="cmodule-corona-gold" checked="checked")
                      label(for="cmodule-corona-gold")
                        div
                        span Золото
                    .cmodule__side-corona-i.cmodule__side-corona-i--silver
                      input(type="radio" name="corona" id="cmodule-corona-silver")
                      label(for="cmodule-corona-silver")
                        div
                        span Серебро
                    .cmodule__side-corona-i.cmodule__side-corona-i--bronze
                      input(type="radio" name="corona" id="cmodule-corona-bronze")
                      label(for="cmodule-corona-bronze")
                        div
                        span Бронза
                  .cmodule__side-quantity
                    .cmodule__side-quantity-i
                      .cmodule__side-quantity-title Золото
                      .cmodule__side-quantity-ico
                        img(src="./img/ico/gold.svg" alt="ico")
                      .cmodule__side-quantity-txt 4.569 голосов
                    .cmodule__side-quantity-i
                      .cmodule__side-quantity-title Серебро
                      .cmodule__side-quantity-ico
                        img(src="./img/ico/silver.svg" alt="ico")
                      .cmodule__side-quantity-txt 4.569 голосов
                    .cmodule__side-quantity-i
                      .cmodule__side-quantity-title Бронза
                      .cmodule__side-quantity-ico
                        img(src="./img/ico/bronze.svg" alt="ico")
                      .cmodule__side-quantity-txt 4.569 голосов
                  .cmodule__side-textarea
                    textarea(placeholder="Комментарий")
                  .cmodule__side-btn
                    a(href="/").cmodule__side-btn-i Голосовать
            .cmodule__content.custom-col
              .cmodule__content-inner
                .comments
                  .comments__top
                    .comments__title Отзывы играков
                    .comments__sort
                      a(href="#").comments__sort-btn Сортировать по
                      .comments__sort-list
                        .comments__sort-item Дате
                        .comments__sort-item Рейтингу


                  .comments__block
                    .comments__item
                      .comments__item-ico
                        img(src="./img/ico/gold.svg")
                      .comments__item-right
                        .comments__item-top
                          .comments__name Иван Иванов
                          .comments__data 15.05.20
                          a(href="#").comments__like
                        .comments__txt Пользоваться качественным казино комфортно на любой платформе, вне зависимости от устройства (компьютер, ноутбук, планшет или смартфон), поскольку у него оптимизированный и быстрый софт.
                        a(href="#").comments__answer-btn Ответить

                        .comments__answer
                          .comments__item-ico
                            img(src="./img/bg.png")
                          .comments__item-right
                            .comments__item-top
                              .comments__name Модератор
                              .comments__data 16.05.20
                              a(href="#").comments__like
                            .comments__txt Пользоваться качественным казино комфортно на любой платформе, вне зависимости от устройства.
                            a(href="#").comments__answer-btn Ответить
                    .comments__item
                      .comments__item-ico
                        img(src="./img/ico/gold.svg")
                      .comments__item-right
                        .comments__item-top
                          .comments__name Иван Иванов
                          .comments__data 15.05.20
                          a(href="#").comments__like
                        .comments__txt Пользоваться качественным казино комфортно на любой платформе, вне зависимости от устройства (компьютер, ноутбук, планшет или смартфон), поскольку у него оптимизированный и быстрый софт.
                        a(href="#").comments__answer-btn Ответить

                        .comments__answer
                          .comments__item-ico
                            img(src="./img/bg.png")
                          .comments__item-right
                            .comments__item-top
                              .comments__name Модератор
                              .comments__data 16.05.20
                              a(href="#").comments__like
                            .comments__txt Пользоваться качественным казино комфортно на любой платформе, вне зависимости от устройства.
                            a(href="#").comments__answer-btn Ответить



